        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                What can I do for you?
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/"><i class="fa fa-fw fa-rocket"></i>Dashboard</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="https://myaccount.atkoinc.nl/account"><i class="fa fa-fw fa-user"></i>Account</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="https://myaccount.atkoinc.nl/account_profile"><i class="fa fa-fw fa-birthday-cake"></i>Profile</a>
                            </li>
                            
<!-- Disabled as there is work to be done
                            <li class="nav-item ">
                                <a class="nav-link " href="/tokens"><i class="fa fa-fw fa-tasks"></i>Tokens</a>
                            </li>
                            <li class="nav-item " style="display:none;">
                                <a class="nav-link " href="#"><i class="fa fa-fw fa-tasks"></i>Log items</a>
                            </li>
-->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->