<br><br>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Tokens</h2>
        </div>
        <div class="section-block" id="basicform">
        </div>
        <div class="card">
            <h5 class="card-header">ID token</h5>
            <div class="card-body">
                <pre>{{jwt tokenSet.id_token}}</pre>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Access token</h5>
            <div class="card-body">
                <pre>{{jwt tokenSet.access_token}}</pre>
            </div>
        </div>
    </div>
</div>